body {
    background-color: #ededed;
}

img {
    width: 100% !important;
    height: 100% !important;
}

.profile {
    width: 40% !important;
    height: 40% !important;
}

.field {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}

.active,
.overlay:hover {
    border-style: dotted;
    border-color: black;
}

footer {
    background-color: rgb(53, 58, 63);
    color: rgb(106, 106, 106);
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

h3 {
    text-align: center;
}